#txtInput{
    width: 40%;
    height: 60px;
    border-radius: 30px;
    text-align: right;
    color: rgb(185, 41, 41);
    font-size: 3vw;
    padding-right: 1%;
}

.btn{
    width: 9%;
    height: 80px;
    background-image: linear-gradient(grey,brown,beige);
    color: black;
    border-radius: 30px;
    font-size: 3vw;
    margin-left: .5%;
    margin-top: .5%;
    cursor: pointer;
}

.btn:focus, #txtInput:focus{
    outline: none
}
.btn:hover{
    opacity: .8;
}
.btn:active{
    background-image: linear-gradient(beige,brown,grey);
}